<div class="page-header">
  <%= link_to new_discount_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Discount
  <% end %>
  <h1>Listing discounts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Text</th>
            <th>Discount category</th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @discounts) do |discount| %>
            <td><%= discount.name %></td>
            <td><img src="<%= discount.image_url(:thumb) %>"></td>
            <td><%= discount.text %></td>
            <td><%= discount.discount_category ? discount.discount_category.title : '---' %></td>
            <td><%= link_to 'Show', discount %></td>
            <td><%= link_to 'Edit', edit_discount_path(discount) %></td>
            <td><%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
