<div class="page-header">
  <%= link_to new_discount_category_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Discount category
  <% end %>
  <h1>Listing discount_categories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @discount_categories) do |discount_category| %>
            <td><%= discount_category.title %></td>
            <td><%= link_to 'Show', discount_category %></td>
        <td><%= link_to 'Edit', edit_discount_category_path(discount_category) %></td>
        <td><%= link_to 'Destroy', discount_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
